<!DOCTYPE html>
<html lang="en" ng-app="coffeeApp">
<head>
    <title>Trisha's Awesome App</title>
</head>
<body>
<div class="container" ng-controller="OrderController">
    <div class="form-group">
        <label>Drink Type</label>
        <select ng-model="drink.type" ng-options="type.name for type in types | orderBy: 'name'" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Size</label>
        <select ng-model="drink.size" ng-options="size for size in sizes" class="form-control"></select>
    </div>
    <div class="form-group">
        <label>Your name</label>
        <input type="text" ng-model="drink.drinker" ng-required="true" class="form-control"/>
    </div>
</div>

<script type="text/javascript" src="js/angular.min.js"></script>
<script type="text/javascript" src="js/coffee.js"></script>
</body>
</html>